<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
<display-name>preciproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>   
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>controller.RegistrationServlet</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/doRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/doLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/doLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginMainServlet</display-name>
    <servlet-name>LoginMainServlet</servlet-name>
    <servlet-class>controller.LoginMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginMainServlet</servlet-name>
    <url-pattern>/doLoginMain</url-pattern>
  </servlet-mapping>
  <servlet>
  <description></description>
    <display-name>RegisterMainServlet</display-name>
    <servlet-name>RegisterMainServlet</servlet-name>
    <servlet-class>controller.RegisterMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterMainServlet</servlet-name>
    <url-pattern>/doRegisterMain</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>DatabaseServlet</display-name>
  	<servlet-name>DatabaseServlet</servlet-name>
  	<servlet-class>controller.DatabaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DatabaseServlet</servlet-name>
  	<url-pattern>/doDatabaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>CheckSessionServlet</display-name>
  	<servlet-name>CheckSessionServlet</servlet-name>
  	<servlet-class>controller.CheckSessionServlet</servlet-class>
  </servlet>  
  <servlet-mapping>
  	<servlet-name>CheckSessionServlet</servlet-name>
  	<url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>SaveCommentServlet</display-name>
  	<servlet-name>SaveCommentServlet</servlet-name>
  	<servlet-class>controller.SaveCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SaveCommentServlet</servlet-name>
  	<url-pattern>/saveComment</url-pattern>
  </servlet-mapping>   
  <servlet>
  	<description></description>
  	<display-name>PopularListServlet</display-name>
  	<servlet-name>PopularListServlet</servlet-name>
  	<servlet-class>controller.PopularListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PopularListServlet</servlet-name>
  	<url-pattern>/popularList</url-pattern>
  </servlet-mapping>  
  <servlet>
  	<description></description>
  	<display-name>SaveBookmarkServlet</display-name>
  	<servlet-name>SaveBookmarkServlet</servlet-name>
  	<servlet-class>controller.SaveBookmarkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SaveBookmarkServlet</servlet-name>
  	<url-pattern>/saveBookmark</url-pattern>
  </servlet-mapping>   
  <servlet>
  	<description></description>
  	<display-name>MyBookmarksServlet</display-name>
  	<servlet-name>MyBookmarksServlet</servlet-name>
  	<servlet-class>controller.MyBookmarksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MyBookmarksServlet</servlet-name>
  	<url-pattern>/myBookmarks</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>ShowTagsServlet</display-name>
  	<servlet-name>ShowTagsServlet</servlet-name>
  	<servlet-class>controller.ShowTagsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShowTagsServlet</servlet-name>
  	<url-pattern>/showTagsList</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>TagCloudServlet</display-name>
  	<servlet-name>TagCloudServlet</servlet-name>
  	<servlet-class>controller.TagCloudServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TagCloudServlet</servlet-name>
  	<url-pattern>/tagCloud</url-pattern>
  </servlet-mapping>  
  <servlet>
  	<description></description>
  	<display-name>MyTagCloudServlet</display-name>
  	<servlet-name>MyTagCloudServlet</servlet-name>
  	<servlet-class>controller.MyTagCloudServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MyTagCloudServlet</servlet-name>
  	<url-pattern>/myTagCloud</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>GoToUserServlet</display-name>
  	<servlet-name>GoToUserServlet</servlet-name>
  	<servlet-class>controller.GoToUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GoToUserServlet</servlet-name>
  	<url-pattern>/gotouser</url-pattern>
  </servlet-mapping>    
  <servlet>
  	<description></description>
  	<display-name>ForumPageServlet</display-name>
  	<servlet-name>ForumPageServlet</servlet-name>
  	<servlet-class>controller.ForumPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ForumPageServlet</servlet-name>
  	<url-pattern>/loadForumPage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>GroupPageServlet</display-name>
  	<servlet-name>GroupPageServlet</servlet-name>
  	<servlet-class>controller.GroupPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GroupPageServlet</servlet-name>
  	<url-pattern>/loadGroupPage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>SendMessagePageServlet</display-name>
  	<servlet-name>SendMessagePageServlet</servlet-name>
  	<servlet-class>controller.SendMessagePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SendMessagePageServlet</servlet-name>
  	<url-pattern>/loadSendMessagePage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>FriendBookmarkServlet</display-name>
  	<servlet-name>FriendBookmarkServlet</servlet-name>
  	<servlet-class>controller.FriendBookmarkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FriendBookmarkServlet</servlet-name>
  	<url-pattern>/friendBookmark</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>FriendTagCloudServlet</display-name>
  	<servlet-name>FriendTagCloudServlet</servlet-name>
  	<servlet-class>controller.FriendTagCloudServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FriendTagCloudServlet</servlet-name>
  	<url-pattern>/friendTagCloud</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
  	<display-name>CreateNewGroupServlet</display-name>
  	<servlet-name>CreateNewGroupServlet</servlet-name>
  	<servlet-class>controller.CreateNewGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CreateNewGroupServlet</servlet-name>
  	<url-pattern>/createGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
  	<display-name>CreateNewForumServlet</display-name>
  	<servlet-name>CreateNewForumServlet</servlet-name>
  	<servlet-class>controller.CreateNewForumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CreateNewForumServlet</servlet-name>
  	<url-pattern>/createForum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
  	<display-name>SendMessageServlet</display-name>
  	<servlet-name>SendMessageServlet</servlet-name>
  	<servlet-class>controller.SendMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SendMessageServlet</servlet-name>
  	<url-pattern>/sendMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
  	<display-name>PushMessageServlet</display-name>
  	<servlet-name>PushMessageServlet</servlet-name>
  	<servlet-class>controller.PushMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PushMessageServlet</servlet-name>
  	<url-pattern>/pushMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
  	<display-name>InboxPageServlet</display-name>
  	<servlet-name>InboxPageServlet</servlet-name>
  	<servlet-class>controller.InboxPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>InboxPageServlet</servlet-name>
  	<url-pattern>/loadInbox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
  	<display-name>OutboxPageServlet</display-name>
  	<servlet-name>OutboxPageServlet</servlet-name>
  	<servlet-class>controller.OutboxPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>OutboxPageServlet</servlet-name>
  	<url-pattern>/loadOutbox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
  	<display-name>ShowProfileServlet</display-name>
  	<servlet-name>ShowProfileServlet</servlet-name>
  	<servlet-class>controller.ShowProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShowProfileServlet</servlet-name>
  	<url-pattern>/showProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
  	<display-name>FindGroupServlet</display-name>
  	<servlet-name>FindGroupServlet</servlet-name>
  	<servlet-class>controller.FindGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FindGroupServlet</servlet-name>
  	<url-pattern>/findGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
  	<display-name>MyGroupServlet</display-name>
  	<servlet-name>MyGroupServlet</servlet-name>
  	<servlet-class>controller.MyGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MyGroupServlet</servlet-name>
  	<url-pattern>/myGroups</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
  	<display-name>JoinGroupServlet</display-name>
  	<servlet-name>JoinGroupServlet</servlet-name>
  	<servlet-class>controller.JoinGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JoinGroupServlet</servlet-name>
  	<url-pattern>/joinGroup</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>FindForumServlet</display-name>
  	<servlet-name>FindForumServlet</servlet-name>
  	<servlet-class>controller.FindForumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FindForumServlet</servlet-name>
  	<url-pattern>/findForum</url-pattern>
  </servlet-mapping>  
  <servlet>
  	<description></description>
  	<display-name>MyForumServlet</display-name>
  	<servlet-name>MyForumServlet</servlet-name>
  	<servlet-class>controller.MyForumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MyForumServlet</servlet-name>
  	<url-pattern>/myForums</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>JoinForumServlet</display-name>
  	<servlet-name>JoinForumServlet</servlet-name>
  	<servlet-class>controller.JoinForumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JoinForumServlet</servlet-name>
  	<url-pattern>/joinForum</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>LoadForumPageServlet</display-name>
  	<servlet-name>LoadForumPageServlet</servlet-name>
  	<servlet-class>controller.LoadForumPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoadForumPageServlet</servlet-name>
  	<url-pattern>/gotoForumPage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>LoadGroupPageServlet</display-name>
  	<servlet-name>LoadGroupPageServlet</servlet-name>
  	<servlet-class>controller.LoadGroupPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoadGroupPageServlet</servlet-name>
  	<url-pattern>/gotoGroupPage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>LoadUserPageServlet</display-name>
  	<servlet-name>LoadUserPageServlet</servlet-name>
  	<servlet-class>controller.LoadUserPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoadUserPageServlet</servlet-name>
  	<url-pattern>/gotoUserPage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>LoadSaveBookmarkPageServlet</display-name>
  	<servlet-name>LoadSaveBookmarkPageServlet</servlet-name>
  	<servlet-class>controller.LoadSaveBookmarkPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoadSaveBookmarkPageServlet</servlet-name>
  	<url-pattern>/pickBookmark</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>LoadBlogPageServlet</display-name>
  	<servlet-name>LoadBlogPageServlet</servlet-name>
  	<servlet-class>controller.LoadBlogPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoadBlogPageServlet</servlet-name>
  	<url-pattern>/loadBlogPage</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>UploadServlet</display-name>
  	<servlet-name>UploadServlet</servlet-name>
  	<servlet-class>controller.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UploadServlet</servlet-name>
  	<url-pattern>/uploadFile</url-pattern>
  </servlet-mapping>
  
</web-app>
  